@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body{
	font-family: 'ABeeZee', sans-serif;
	overflow: hidden;
	background-color: #DFF2FF;
	color: 
}
/*____________________________TEXT___________________________*/
.sous_titre{
	font-size: 24px;
}
.float_right{
	float: right;
}

strong{
	font: bold;
}

.margin_left{
	margin-left: 16%;
}

.margin_center_vertical{
	margin: 8% 0% 8% 0%;
}

/*________________________ PAWN INTERACTION __________________*/
.draggable_area{
	width: 100%;
	color: #626262;
}

#pawn{
	cursor: pointer;
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.21);
	-moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.21);
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.21);
	border-radius: 100%;
	background: rgb( 98, 98, 98 );
	width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.text_tuto{
	margin-left: 7px;
	opacity: 0;
	cursor: default;
}
#target_top_left{
	background-color: #00dffc;
}
#target_top_right{
	background-color: #008c9e;
}
#target_bot_left{
	background-color: #005f6b;
}
#target_bot_right{
	background-color: #343838;
}

.circle,.projet_div,.text_tuto{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.circle { 
	position: relative;   
    background: rgba( 99, 99, 99, 0.8 );
    border-radius: 100%;
    overflow: hidden;
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.24);
	box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.24);
    width: 70px;
    height: 70px;
    z-index: 1;
	border:1px solid transparent;
}
.circle-hover{
	-webkit-transform: scale( 2 );
	-moz-transform: scale( 2 );
	-o-transform: scale( 2 );
	-ms-transform: scale( 2 );
	transform: scale( 2 );
	z-index: 2;
}
.content .row{
	display: none;
	position: 
}
.content{
	color: white;
	text-align: justify;
	z-index: 5;
	position: fixed;
}

.back{
	cursor: pointer;
}
.back:hover{
	-webkit-transform: scale( 1.5 );
	-moz-transform: scale( 1.5 );
	-o-transform: scale( 1.5 );
	-ms-transform: scale( 1.5 );
	transform: scale( 1.5 );
}

/*_________________ Contact _____________________*/
.rs,.contactez_moi{
	border :5px solid white;
	border-radius: 100%;
	padding: 14PX;
	width: 65px;
    height: 65px;
    color: white;
    margin-top: 50px;
    -webkit-transition: all 03s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.title_content{
	font-size: bold;
	text-transform: uppercase;
	text-align: center;
}

.contactez_moi{
	text-transform: uppercase;
	border-radius: 10%;
	font-size: bold;
	text-decoration: none;
}
.contactez_moi:hover,.rs:hover{
	text-decoration:none;
	color: #005F6B;
	font-weight: bold;
	background-color: white;
}
.mail{
	text-decoration: none;
}
.mail:hover{
	color: white;
}
.mail:active{
	color: white;
}
.mail:visited{
	color: white;
}

/* Margin */
.margin_bot_50{
	margin-bottom: 50px;
}
.margin_top_60{
	margin-top: 60px;
}
.margin_bot_20{
	margin-bottom: 20px;
}
.margin_bot_30{
	margin-bottom: 30px;
}


/*_________________ Projets _____________________*/

.projet_div img{
	position: relative; 
	width: 100%;
	z-index: 2;
}
.projet_div{
	background-color: black;
	padding: 0px;
}

.text_projets{
	display: none;
	position: absolute;
	top: 48%;
	left: 15%;
	z-index:4; 
}

/*__________________ Skills ________________________*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-top-left:3px;
	-moz-border-radius-bottom-left:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-top-left:3px;
	-moz-border-radius-bottom-left:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.skill-bar-percent span{
	font-size: 13px;
	color: #757575;
}